@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif, "Times New Roman";
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    border: 2px solid blue;
    height: 100%;
    width: auto;
}

.wrapper {
    padding: 1vh auto;
    background: linear-gradient(to right, rgb(114, 26, 42), rgb(88, 4, 88), rgb(15, 15, 155));
    width: 100%;
    height: 50%;
    border: 2px solid white;
    display: block;
}

.wrapper h1 {
    padding: 5px auto;
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    color: white;
    border: 2px solid orange;
}

.projects {
    height: 45vh;
    width: auto;
    border: 1px solid yellow;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.projects a img {
    height: 200px;
    flex-basis: auto;
    border-radius: 15px;
    border: 2px solid brown;
}
<<<<<<< HEAD



=======
>>>>>>> 0acecd7d8dbe212675c5fbe977c9c8199b6536d0
